version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:13.1.0
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn jest --coverage
      - run: codecov --token=CODECOV_TOKEN
